body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F4F4F4F4;
}

* {
    font-family: 'Inter', system-ui;
}

html {
    height: 100%;
}

.wrapper {
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.container {
    height: 650px;
    width: 390px;
    border-radius: 15px;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
}