.welcome_menu {
    p {
        width: 205px;
        color: #ffffff;
        font-size: 28px;
        margin-right: auto;
        margin-left: auto;
        padding: 15px;
        border-radius: 15px;
        font-weight: 300;
        cursor: pointer;
    }
}

.title {
    margin: 0;
    padding-top: 5vh;
    font-size: 48px;
    font-weight: 500;
    color: #1F1F1F;
}

.logo {
    margin-top: 80px;
    width: 110px;
    height: 110px;
}

.login {
    background-color: #2ADAA5;
    margin-top: 100px;
    margin-bottom: 35px;
}

.register {
    background-color: #0094FF;
    margin-top: 35px;
}